<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
	<meta charset="UTF-8">
	<title>去哪儿学--学校</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link href="../../css/wstyle.css" type="text/css" rel="stylesheet" th:href="@{/static/css/zzsc.css}">
	<link href="../../css/ionicons.min.css" type="text/css" rel="stylesheet" th:href="@{/static/css/ionicons.min.css}" >
	<link href="../../css/wstyle.css" type="text/css" rel="stylesheet" th:href="@{/static/css/wstyle.css}" >
	<link href="${path }/base/images/bitbug_favicon.ico" th:href="@{/static/images/bitbug_favicon.ico}" rel="Shortcut Icon">
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
	<script type="text/javascript" src="../../js/header-footer.min.js" th:src="@{/static/js/header-footer.min.js}"></script>
	<script type="text/javascript" src="../../js/common.js" th:src="@{/static/js/common.js}"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js" th:src="@{/static/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fpmIGPqo4DYm61tvTuKHgT9QxWG5cIdc"></script>
	<style type="text/css">
		#allmap{width:80%;height:500px;margin-left:10%;}
	</style>
</head>

<body style="position:relative;">
<!--页面顶部header 开始-->
<div th:include="header::header"></div>
<script th:replace="fragscript :: outerJs01"></script>
<script th:replace="fragscript :: outerJs05"></script>
<!--页面顶部header 结束-->


<!-- 头部导航 开始 -->
<div id="top_nav">
	<div class="main-nav">
		<div class="inner-con0">
			<div class="inner-con1">
				<div class="inner-con2 clear">
					<a th:href="@{/common/course.th}"  target="_blank">培训课程<em class="hot-label"></em></a>
					<a th:href="@{/common/school.th}"  target="_blank">培训学校<em class="new-label"></em></a>
				</div>
			</div>
		</div>
	</div>
	<div class="category-con">
		<div class="category-inner-con clear">
			<div class="category-type">
				<div class="text">全部分类</div>
			</div>
			<div id="nav_top_menu" class="nav-list" style="background:rgba(255,255,255,0.7)">
				<div class="nav-con " id='category-nav'>
					<ul class="normal-nav clear">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 头部导航 完成 -->

<!--<div style="background:url(images/M_02.jpg) center center;">-->
<!--<div style="width:1200px; margin:0px auto;">-->
<!--<img src="images/M_03.jpg"  th:src="@{/static/images/M_03.jpg}" width="1200" height="158">-->
<!--</div>-->
<!--</div>-->
<div class="fm">
	<h2>联系我们</h2>
	<div class="sub" style="width:700px;">
		<p class="p1" style="margin-top:20px;">江苏地址：江苏省常州市XXXXXXX</p>
		<p class="p1">服务热线：XXX-XXXX-XXX</p>
		<p class="p1" style="margin-bottom:20px;">客服邮箱：XXXX@XXXX.com</p>
	</div>
	<div id="allmap"></div>
</div>


<!-- 底部 开始 -->
<div th:include="footer::footer"></div>


<script type="text/javascript">
    //导航目录的显示和隐藏（首页）
    show_hide_nav();
</script>

</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(119.5757,31.7575),8);
    setTimeout(function(){
        map.setZoom(14);
    }, 2000);  //2秒后放大到14级
    map.enableScrollWheelZoom(true);
</script>
