<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>去哪儿学--学校</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
	<link href="../../css/wstyle.css" type="text/css" rel="stylesheet" th:href="@{/static/css/zzsc.css}">
	<link href="../../css/wstyle.css" type="text/css" rel="stylesheet" th:href="@{/static/css/wstyle.css}">
	<link href="${path }/base/images/bitbug_favicon.ico" th:href="@{/static/images/bitbug_favicon.ico}" rel="Shortcut Icon">
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
	<script type="text/javascript" src="../../js/header-footer.min.js" th:src="@{/static/js/header-footer.min.js}"></script>
	<script type="text/javascript" src="../../js/common.js" th:src="@{/static/js/common.js}"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js" th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body style="position:relative;">
<!--页面顶部header 开始-->
<div th:include="header::header"></div>
<script th:replace="fragscript :: outerJs01"></script>
<script th:replace="fragscript :: outerJs05"></script>
<!--页面顶部header 结束-->

	<!-- 头部导航 开始 -->
	<div id="top_nav">
    	<div class="main-nav">
        	<div class="inner-con0">
            	<div class="inner-con1">
                	<div class="inner-con2 clear">
						<a th:href="@{/common/course.th}"  target="_blank">培训课程<em class="hot-label"></em></a>
						<a th:href="@{/common/school.th}"  target="_blank">培训学校<em class="new-label"></em></a>
                	</div>
            	</div>
        	</div>
    	</div>
    	<div class="category-con">
        	<div class="category-inner-con clear">
            	<div class="category-type">
                	<div class="text">行业分类</div>
            	</div>
            	<div id="nav_top_menu" class="nav-list" style="background:rgba(255,255,255,0.7)">
                	<div class="nav-con" id='category-nav'>
                    	<ul class="normal-nav clear">
                        </ul>
                	</div>
            	</div>
        	</div>
    	</div>
	</div>
	<!-- 头部导航 完成 -->
    <div style="background:url(images/M_02.jpg) center center;">
    	<div style="width:1200px; margin:0px auto;">
        	<img src="images/M_03.jpg"  th:src="@{/static/images/M_03.jpg}" width="1200" height="158">
        </div>
    </div>
    <div class="fm">
    	<h2>意见反馈</h2>
        <div class="sub">
        	<form  id="form">
        		<div style="margin-top:30px;" class="clearfix"><label>标题</label><input name="title" type="text" placeholder="请输入6-10个字"></div>
            	<div style="padding-top:30px;" class="clearfix"><label>内容</label><textarea  name="content"  id="content" placeholder="请填写具体内容帮助了解您的意见与建议"></textarea></div>
            	<div style="margin-top:30px;" class="clearfix"><label>手机</label><input  name="tel" id="telP" type="text" placeholder="请输入手机号码"  onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11"></div>
				<div style="text-align:center; margin-top:30px; ">
					<!--<input style="width:120px; float:none; background:#f5c609; color:#fff; font-size:16px;"value="提交" type="button"  onclick="submit()">-->
					<a style="background:#f5c609; color:#fff;" class="con-btn-sign inlineB" href="javascript:;" onclick="submit()">提交</a>
				</div>
        	</form>
        </div>
    </div>

<!-- 底部 开始 -->
<div th:include="footer::footer"></div>
<!-- 侧边栏代码 开始 -->
<div th:include="sidebar::sidebar"></div>
<script th:replace="fragscript :: outerJs03"></script>
<!--行业分类-->
<script th:replace="fragscript :: outerJs01"></script>
<script th:replace="fragscript :: outerJs04"></script>

	<script type="text/javascript">
    $('#loginout').click(function(){
        $.ajax({
            url:'https://i.houxue.com/accounts/login/out/',
            dataType:'jsonp',
            type:'get',
            async:false,
            jsonp:"callbackparam",
            success:function(data)
            {
                if(data.flag){
                    window.location.reload();
                }
            }
        })
    });
	</script>
    <script>

    $(function () {

        $('.open_stop').click(function () {
            var h = $('#relevant_hx_ul');
            var contentH = $("html,body").outerHeight(true);
            if ($('.open_stop').text() == '展开') {
                h.css('height', 'auto');
                $(this).html('收起<i class="rotate"></i>');
                $("[name='hid']").show();
//                $("body").animate({scrollTop: contentH}, 1000);
            } else {
                $("[name='hid']").hide();
                h.animate({height: "auto"}, 1000);
                $(this).html('展开<i></i>');
            }
        });



    });

</script>
<!--seo end-->
<script type="text/javascript">
    //导航目录的显示和隐藏（首页）
    show_hide_nav();
</script>
</body>
<script th:replace="fragscript :: outerJs01"></script>
<script type="text/javascript">
    function submit(){
        var url = basePath +"/common/user/suggestForm";
        var form = new FormData(document.getElementById("form"));
        var content = $("#content").val();
        var telP = $("#telP").val();
        if(content == '' || content == undefined){
            alert("内容不能为空!");
            return;
        }
        if(telP == '' || telP == undefined){
            alert("电话不能为空!");
            return;
        }
        var RegCellPhone = /^1[3|4|5|7|8][0-9]\d{8}$/;
        falg=telP.search(RegCellPhone);
        if (telP != "" && falg==-1){
            alert("手机号不合法！");
            return;
        }
        $.ajax({
            url:url,
            type:"post",
            dataType : "json",
            data:form,
            processData:false,
            contentType:false,
            success:function(data){
                if (0 == data.code) {
                    alert(data.msg);
                } else if (1 == data.code) {
                    alert(data.msg);
                    window.location.href= basePath +"/common/user/index.th";
                }
            }
        });
    }
</script>
</html>
