    body {
        background-color: white;
        color:#666666;
        font-size:14px;
    }
    .uam-panel{
        width:100%;
        z-index:100;
    }

    .uam-panel-title {
        width:100%;
        text-align:center;
    }

    .uam-panel-back {
        position:absolute;
        float:left;
        text-align:center;
        width:40px;
        cursor:pointer;
        display:none;
    }

    .uam-panel-list {
        position:relative;
        max-height:100%;
        width:100%;
        padding-bottom:48px;
        overflow-x:hidden;
        overflow-y:auto;
        padding:0px 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .uam-panel-row {
        width:98%;
        text-align:left;
        padding:2px 10px;
        margin-bottom:10px;
    }

.cs-modal {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:none;
    z-index:998;
}

.cs-modal-mask {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#555555;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}

.cs-modal-content {
    position:absolute;
    left:3px;
    bottom:3px;
    right:3px;
    z-index:999;
    display:inline-block;
    background-color:white;
    padding:15px 20px;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    font-size:14px;
    color:#666666;
}

.cs-modal-header {
    text-align:center;

    position:relative
}

.cs-modal-close {
    position:absolute;
    top:0px;
    right:5px;
    max-width:11px;
    cursor:pointer;
}

.cs-modal-close > img {
    width:100%;
}


.cs-panel-info-row {
    margin: 20px 0px;
    cursor: pointer;
}

.cs-panel-list {
    height: 230px;
    text-align:left;
    position:relative;
    overflow-x:hidden;
    overflow-y:auto;
    padding:0px 12px;
}

.cs-panel-title-column {
    cursor:pointer;
    display:inline-block;
    padding:6px 0px;
}

.cs-panel-title-row {
    width:100%;
    text-align:left;
    margin-top:10px;
    padding:0px 12px;
    border-top:solid 1px #f4f4f4;
    border-bottom:solid 1px #f4f4f4;
}


.an-panel {
	width: 99%;
	position: absolute;
	z-index: 100;
	padding: 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #9b9b9b;
	font-size: 14px;
}

.an-input-panel{
    position:relative;
    text-align:left;
}

.an-input {
    border:none;
    width:100%;
    color: #666666;
    height:46px;
    line-height:46px;
    border-bottom:solid 1px #f4f4f4;
    font-size: 14px;
}

textarea.an-input {
    height:auto;
    line-height:25px;
    padding-top:9px;
    padding-top: 10px;
    padding-left: 0px;
}

.an-input-tips {
    color:#9b9b9b;
    line-height:47px;
}

.an-input-arrow {
    position:absolute;
    top:11px;
    right:0px;
    display:inline-block;

}

.an-input-arrow>img {
    height:16px;
    vertical-align:bottom;
    opacity: 0.7;
}

.an-input::-webkit-input-placeholder {
    color:#9b9b9b;
}

.an-select-panel {
    color: #9b9b9b;
    line-height:46px;
    height:46px;
    font-size:14px;
    text-align: left;
}

.an-select-panel>img{
    float:right;
    vertical-align:middle;
    display: block;
    height:16px;
    padding-top: 15px;

}

.an-panel-back {
    position:absolute;
    float:left;
    text-align:center;
    width:40px;
    cursor:pointer;
}
.an-panel-title {
    width:100%;
    text-align:center;
}

.an-footer-padding {
    height:62px;
}

.an-footer-bar {
    height:62px;
    position:fixed;
    text-align: center;
    z-index:999;
    left: 0px;
    right: 0px;
    bottom:0px;
}

.an-large-btn {
    width:70%;
    display:inline-block;
    font-size:16px;
    color:#11AA00;
    border:solid 1px #F4C10D;
    border-radius:3px;
    line-height:51px;
    height:51px;
}

.an-middle-btn {
    width:40%;
    display:inline-block;
    font-size:16px;
    color:#F4C10D;
    border:solid 1px #F4C10D;
    border-radius:3px;
    line-height:51px;
    height:51px;
}

.address-detail-line {
    position: relative;
    margin:20px 0px;
    line-height:20px;
}

.address-detail-line div {
    display: inline-block;
}

.address-detail-line > div:last-child {
    float:right;
}

.address-detail-line > div:first-child {
    margin-right:10px;
}

.address-detail-line img {
    width:16px;
    vertical-align: middle;
}

.ual-panel{
    width:100%;
    position:absolute;
    display:none;
    z-index:100;
    padding:10px 20px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.ual-panel-title {
    width:100%;
    text-align:center;
}

.ual-panel-back {
    position:absolute;
    float:left;
    text-align:center;
    width:40px;
    cursor:pointer;
}

.ual-panel-list {
    position:relative;
    max-height:100%;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom:48px;
}

.ual-panel-row {
    width:98%;
    text-align:left;

    margin-bottom:10px;
    border-bottom:solid 1px #f4f4f4;
    box-sizing: border-box;
}
