<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.fh.mapper.FranchiseeMapper" >
    <resultMap id="BaseResultMap" type="com.fh.fh.model.Franchisee" >
        <id column="franchisee_id" property="franchiseeId" />
        <result column="franchisee_name" property="franchiseeName" />
        <result column="logo" property="logo" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        franchisee_id,franchisee_name,logo,state,create_time
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from fh_franchisee
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from fh_franchisee
        where franchisee_id = #{franchiseeId}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from fh_franchisee
        where franchisee_id = #{franchiseeId}
    </delete>

    <delete id="deleteByExample" >
        delete from fh_franchisee
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" >
        insert into fh_franchisee (franchisee_id,franchisee_name,logo,
        state,create_time
        )
        values (#{franchiseeId},#{franchiseeName},#{logo},
        #{state},#{createTime}
        )
    </insert>

    <insert id="insertSelective" >
        insert into fh_franchisee
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="franchiseeId != null" >
                franchisee_id,
            </if>
            <if test="franchiseeName != null" >
                franchisee_name,
            </if>
            <if test="logo != null" >
                logo,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="franchiseeId != null" >
                #{franchiseeId},
            </if>
            <if test="franchiseeName != null" >
                #{franchiseeName},
            </if>
            <if test="logo != null" >
                #{logo},
            </if>
            <if test="state != null" >
                #{state},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from fh_franchisee
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update fh_franchisee
        <set >
            <if test="record.franchiseeId != null" >
                franchisee_id = #{record.franchiseeId},
            </if>
            <if test="record.franchiseeName != null" >
                franchisee_name = #{record.franchiseeName},
            </if>
            <if test="record.logo != null" >
                logo = #{record.logo},
            </if>
            <if test="record.state != null" >
                state = #{record.state},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update fh_franchisee
        set franchisee_id = #{franchiseeId},
        franchisee_name = #{franchiseeName},
        logo = #{logo},
        state = #{state},
        create_time = #{createTime}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update fh_franchisee
        <set >
            <if test="franchiseeName != null" >
                franchisee_name = #{franchiseeName},
            </if>
            <if test="logo != null" >
                logo = #{logo},
            </if>
            <if test="state != null" >
                state = #{state},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime},
            </if>
        </set>
        where franchisee_id = #{franchiseeId}
    </update>

    <update id="updateByPrimaryKey" >
        update fh_franchisee
        set franchisee_name = #{franchiseeName},
        logo = #{logo},
        state = #{state},
        create_time = #{createTime}
        where franchisee_id = #{franchiseeId}
    </update>

</mapper>